.mainCard-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: aqua;
    height: 30vh;
}

.mainCard-container img {
    width: 256px;
    height: 256px;
    background-color: lawngreen;
}

.mainCard-container p {
    background-color: brown;
    font-size: 2rem;
}